In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

In [8]:
rawdata = pd.read_csv("EEX_SPOT_Hourly_Prices_Weekend.csv", sep=";")
print(f"Number of rows: {rawdata.shape[0]} and columns: {rawdata.shape[1]}")
rawdata.head()

Number of rows: 181 and columns: 26

,Date (GMT),Wochentag,h0100,h0200,h0300,h0400,h0500,h0600,h0700,h0800,...,h1500,h1600,h1700,h1800,h1900,h2000,h2100,h2200,h2300,h2400
0,1,Wochentag,"-12,11","-19,63","-0,04","-31,41","-46,97","-13,48","0,08","10,06",...,"14,7","14,66","16,09","25,1","25,06","19,08","14,26","12,22","10,4","-0,33"
1,2,Wochentag,"-0,08","-0,07","15,17","0,01","-0,04","0,03","-8,67","4,46",...,"27,07","29,33","33,85","45,96","49,82","47,62","35,98","27,26","27,7","14,27"
2,3,Samstag,"9,32","0,02","30,25","0,01",0,"-0,01","-3,18","-0,05",...,"12,01","14,36","17,55","28,94","29,59","29,42","28,92","28,66","29,74","24,9"
3,4,Wochentag,"22,34","17,93","24,68","16,38","17,38","16,38","26,61","37,63",...,42,"43,1","46,7","56,78","58,84","49,23","44,32",40,"35,08","30,03"
4,5,Wochentag,"30,02","30,57","16,11","30,29","30,63","29,64","29,67","38,82",...,"30,73","37,38","40,32","45,96","45,71","39,57","32,92","29,15","28,46","26,97"

In [5]:
print("Columns in the dataset:", rawdata.columns.tolist())

Columns in the dataset: ['Date (GMT);Wochentag;h0100;h0200;h0300;h0400;h0500;h0600;h0700;h0800;h0900;h1000;h1100;h1200;h1300;h1400;h1500;h1600;h1700;h1800;h1900;h2000;h2100;h2200;h2300;h2400']